body{
    padding: 0;
    margin: 0;
}

.navbar{
    display: none;

}

 #nav_bar{
    display: none;
}

#x_img{
    display: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    width: 95%;
    margin-top: 5%;
    margin-left: 5% ;
}

.linha{
    height: 1px;
    background-color: white;
    width: 31%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 50px;
    position: absolute;
    left: 150px;
    z-index: 1;
}

.destino{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(100.5485px);
    stroke: #979797;
    align-items: center;
    height: 96px;
    width: 60%;
    color: #FFFF;
   
}

.destino p{
    margin-top: 35px;
    
    
}
   


.destino-inferior{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    word-spacing: 2.7;
    height:95px;


}

.destino-inferior a  p{
    letter-spacing: 2px;
    
    
   
}
.border{
    border-bottom: 3px solid white;
}
.number{
    display: flex;
    font-weight: bold;
    margin-right: 5px;
    color: grey;
}

a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    
}

@media screen and (min-width : 541px) and (max-width : 1023px) {
    body{
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-image: url(/img/back-crew.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
     .number{
        display: none;
     }

     .linha{
        display: none ;
     }
     .destino-inferior{
        font-size: 16px;
     }
  }



@media screen and (min-width : 912px) and (max-width : 1023px){
    .explore{
       margin-bottom: 10vh;
    }
}


@media screen and (min-width : 280px) and (max-width : 540px){
     body{
        margin-top: 10px;
        width: 100%;
        background-image: url(img/back-des.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .menu{
        display: none;

     }
    .destino{
        display: none;
    }

    .linha{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
    }

    .navbar{
        cursor: pointer;
        margin-right: 20px;
        display: flex;
      
      
    }

    main{
        
    }

    .text-superior{
        font-size: 16px;
        word-spacing: 2.7px;
        margin: 0;
    }

    .text-space{
        font-size: 80px;
        margin: 0;
    }
    .text-inferior{
        display: flex;
        font-size: 15px;
        flex-wrap: wrap;
        margin: 0;
    }

    .explore{
        width: 150px;
        height: 150px;
        font-size: 20px;
        word-spacing: 1.25px;
        margin-bottom: 7%;
        margin-right: 15%;
    }
    .principal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
     }



     #nav_bar{
        display: none;
        flex-direction: column;
        width: 60%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        position: absolute;
        right: 0px;
        z-index: 1;
        color: #FFFF;
        width: 70%;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
        word-spacing: 2.7;

    }

    #x_img{
        display: flex;
        margin-bottom: 70px;
        width: 20px;
        height: 20px;
        margin-left: 200px;
        margin-top: 30px;
    }

    .number-menu{
        font-weight: bold;
        margin-right: 5px;
        margin-left: 10px;
    }

    .border-menu{
        border-right: 3px solid white;
        border-bottom: 0px;
    }
}